@font-face {
    font-family: Satellite;
    src: url('../fonts/Satellite.otf') format("opentype");
}

.bodyfixed-on{
	position: fixed;
	overflow: hidden;
}

html{
	font-size: 16px;
}

body {margin: 0; padding: 0;color:#4d4d4d;font-family: 'Open Sans', sans-serif; }

h1, h2, h3, h4, h5{
	font-weight: 900;
}


.overlay {
	position: absolute;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .5);
	display: none;
}

.popup {
	position: absolute;
	width: 300px;
	height: 180px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 40px;
	background-color: #FFF;
}

.close-popup {
	position: absolute;
	top: 15px;
	right: 15px;
	width: 23px;
	height: 23px;
	cursor: pointer;
}

.close-popup:before {
	content: '';
	background-color: #000;
	position: absolute;
	height: 1px;
	width: 31px;
	top: 11px;
	left: -4px;
	transform: rotate(-45deg);
}

.close-popup:after {
	content: '';
	background-color: #000;
	position: absolute;
	height: 1px;
	width: 31px;
	top: 11px;
	transform: rotate(45deg);
	left: -4px;
}

.scroll-up {
    width: 130px;
    height: 100vh;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #fcfcfc;
    color: #aaa;
    font-size: 13px;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
    cursor: pointer;
    transition: background .2s ease;
    display: none;
}

.scroll-up:hover {
    background-color: #eeeeee;
    color: #777777;
}



.container{
	width: 80%;
	margin: auto;
}
.header{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 15vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.header *{
 	margin: 0;
	padding: 0;
	color:#4d4d4d;
}
.header-container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.nav-menu{
	width: 50%;
	margin: 0;
	padding: 0;
	
}
.nav-menu ul{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.nav-menu-link {
	list-style: none;
}
.nav-menu-link a{
	text-decoration: none;
}
.nav-menu-link a:hover{
	border-bottom: 1px solid #4d4d4d;
}
.menu {
display: none;
  cursor: pointer;
  position: relative;
  z-index: 10;
  width: 30px;
  height: 30px;
}
.menu-global {
  position: absolute;
  z-index: 9;
  left: 0;
  border-top: 4px solid #4d4d4d;
  width: 100%;
  transition: 0.55s;
}
.menu-top {
  top: 0;
}
.menu-middle {
  top: 13px;
}
.menu-bottom {
  top: 26px;
}
.menu-top-active{
	top: 13px;
	transform: rotate(320deg);
}
.menu-middle-active{
	opacity: 0;
}
.menu-bottom-active{
	top: 13px;
	transform: rotate(-320deg);
}
.nav-mobile-menu{
	display: flex;
	position: fixed;
	top:0;
	left:0;
	z-index: 5;
	background: #fff;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	transform: translateX(100%);
	transition: all .3s;
}
.nav-mobile-menu-active{
	transform: translateX(0%);
}
.nav-mobile-menu ul{
	margin: 0;
	padding: 0;
	height: 50%;
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
.nav-mobile-menu a{
	text-decoration: none;
	color:#4d4d4d;
	font-size: 2rem;
}
.nav-mobile-menu a:hover{
	text-decoration: underline;
}

.billboard *{
	margin: 0;
	padding: 0;
}
.billboard{
	margin: 0;
	padding: 0;
	background: url(../img/Layer11.png) no-repeat center center;
	background-size: cover;
	width: 100%;
	height: 100%;
	height: 85vh;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}
.billboard-caption h1{
margin-bottom: 1rem;
}
.billboard-caption h1, .logo{
	font-family: 'Satellite', sans-serif;
}
.billboard-caption p{
margin-bottom: 1.5rem;
}
.btn{
	margin: .5rem auto;
	padding: .5rem 5rem;
 	width: 320px;
	padding: .7rem 0;
	background-color: #4d4d4d;
	border-radius: 2rem;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
}
.services{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	flex-wrap: wrap;
	margin: 4rem auto;
}
.s{
	width: 25%;
}
.s h3{
	margin: 1rem 0;
}
.s p{
	font-size: .8rem;
}
.separator{
	min-height: 2px;
	height: 2px;
	background: #4d4d4d;
	opacity: .1;
}
.video *{
	margin: 0;
	padding: 0;
}
.video{
	margin: 4rem auto;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
}
.video h1{
	margin-bottom: 1rem ;
}
.video .description{
	font-size: .9rem; 
}

.title{
	text-transform: uppercase;
}
.ncs{
	margin: auto;
	margin-top: 4rem;
	width: 50%;
	height: 315px;
}
.recent-work{
	text-align: center;
}

.recent-work-container{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 4rem auto;
}
.w{	
	position: relative;
	z-index: 1;
	background-color: #f7f7f7;
	overflow: hidden;
	min-width: 200px;
    max-width: 262px;
    max-height: 320px;
    margin: .2rem;
}

.desc-brand{
	padding: 0;
	margin: 0;
	background: #4d4d4d;
	color: #fff;
	position: absolute;
	z-index: 3;
	bottom: 0;
	left: 0;
	width: 100%;
	opacity: .9;
	transform: translateY(110%);
	transition: all .2s;
}
.w:hover .desc-brand{
	transform: translateY(0%);
}

.subscription-box *{
	padding: 0;
	margin: 0;
}
.subscription-box{
	background: #f5f5f5;
}
.subscription-box-container{
	margin: auto;
	padding: 4rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.subscription-box h1{
	margin-bottom: 1rem;
}
.subscription-box p{
	margin-bottom: 2rem;
}
.transparent{
	margin: .5rem 0;
	padding: .5rem 0;
	border: 2px solid #4d4d4d;
	color: #4d4d4d;
	background: transparent;
}
.social-media{
	padding: 4rem 0;
	display: flex;
	width: 30%;
	margin: auto;
	justify-content: space-between;
}
.social-media-link{
	text-decoration: none;

}
.link{
	display: flex;
	align-items: center;
	justify-content: center;
	color: #4d4d4d;
	border: 2px solid #4d4d4d;
	font-size: 1.2rem;
	width: 50px;
	height: 50px;
	transition: all .2s;	
}
.social-media-link:hover .link{
	color: #fff;
	border-color: #55acee;
	background-color: #55acee; 
}
.footer-container *{
	padding: 0;
	margin: 0;
}
.footer{
	padding: 4rem 0;
	background-color: #3b3b3b;
	color: #b5b5b5;
	font-size: .8rem;
}
.footer h4{
	color: #fff;
}
.footer a{
	color: #b5b5b5;
}
.footer ul li{
	list-style: none;
}
.footer-container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}
.numb, .footer a{
	font-weight: bold;
}
.r{
	width: 25%;
}
.footer h4{
	margin-bottom: 1rem;
}
.footer p{
	margin-bottom: .5rem;
	line-height: 1.7;
}
.footer ul li{
	margin-bottom: .4rem;

}

